* {
    margin: 0px;
}

.top {
    background-color: #ff863f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    height: 100px;
}


.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
padding: 30px;

}

p {
    display: flex;
    padding: 10px;
}



